<!DOCTYPE html>
<html lang="en-us" ng-app="montyHall">
<head>
  <title>The Monty Hall</title>
  <link rel="shortcut icon" href="/css/favicon.ico"/>
  <link rel="stylesheet" href="/css/styles.css"/>
  <script src="https://code.angularjs.org/1.5.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="/js/app.js"></script>
</head>
<body>
  <h1>The Monty Hall Problem</h1>
<div ng-controller="mainController">
  <div class="door"><h1 ng-bind="door1.doorLabel"></h1></div>
  <div class="door"><h1 ng-bind="door2.doorLabel"></h1></div>
  <div class="door"><h1 ng-bind="door3.doorLabel"></h1></div>
</div>

</body>
</html>
