<!DOCTYPE html>
<html lang="en-us" ng-app="montyHall">
<head>
  <title>The Monty Hall</title>
  <link rel="shortcut icon" href="/css/favicon.ico"/>
  <link rel="stylesheet" href="/css/styles.css"/>
  <script src="https://code.angularjs.org/1.5.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="/js/app.js"></script>
</head>
<body>
  <h1>The Monty Hall Problem</h1>
<div ng-controller="mainController">
  <!-- <div ng-isPrize="0" ng-isSelected="0" ng-isOpen="0" id="door1" class="door">Door One</div>
  <div ng-isPrize="0" ng-isSelected="0" ng-isOpen="0" id="door2" class="door">Door Two</div>
  <div ng-isPrize="0" ng-isSelected="0" ng-isOpen="0" id="door3" class="door">Door Three</div> -->
</div>

  <!-- <img id="goat" width="250" src="http://agrifarming.in/wp-content/uploads/2015/03/Beetal-Goat-buck.jpeg" >
  <img id="prize" width="250" src="http://www.terrapass.com/images/blogposts/old-car.jpg"> -->

</body>
</html>
