body {
}
.door {
  display: inline-block;
  border: solid black;
  width: 100px;
  height: 100px;
  margin: 20px;
}

.selected {
  border: solid red;
}
img {
  height: 100px;
  width: 100px;
}
/*#goatOne, #goatTwo, #car {
  visibility: hidden;
}*/
